.title__holder
  margin: 2rem 0
  .title__holder--title
    padding: 3rem 0
    position: relative
    &::before
      left: 0
      position: absolute
      content: ""
      bottom: 13px
      height: 6px
      width: 150px
      background-color: #eee
      border-radius: 10px
    &::after
      left: 0
      position: absolute
      content: ""
      bottom: 0
      height: 6px
      width: 70px
      background-color: #eee  
    h3
      font-size: 42px
      font-weight: 300 
    .breadcrumbs
      ul
        margin-bottom: 0
        padding-left: 0
      .breadcrumbs__list
        display: flex
        font-size: 14px
        a
          color:#666
        .breadcrumbs__item
          font-weight: 600
          transition: 0.3s ease
          text-transform: capitalize
          &:hover
            a
              color: #dd3333
        .separator
          span
            width: 33px
            height: 24px
            display: block
            position: relative
            &::before
              width: 9px
              height: 2px
              display: block
              content: ""
              position: absolute
              background-color: #ddd
              left: 13px
              top: 14px
              transform: rotate(135deg)
            &::after
              width: 9px
              height: 2px
              display: block
              content: ""
              position: absolute
              background-color: #ddd
              left: 13px
              top: 8px
              transform: rotate(45deg)  
.contact
  padding-bottom: 3rem
  .contact__form-sec
    background-color: #111724
    padding-top: 1rem
    h3
      color: #eee
      text-align: center
      padding-bottom: 1rem
      text-transform: capitalize
    .contact__form
      padding: 30px 
      background-color: #16161b
      .form-group
        margin: 1rem 0
        input
          width: 100%
          padding: 1rem .5rem
          background-color: #191a1f
          color: #eee
          font-size: 14px
        textarea
          width: 100%
          padding: 1rem .5rem
          background-color: #191a1f
          color: #eee
          font-size: 14px
      button
        padding: .5rem 1rem 
        background-color:#dd3333 !important
        font-weight: 400
        font-size: 14px
        color: #fff
        text-transform: capitalize
        transition: 0.3s ease
        &:hover
          background-color: #16161b !important
  .contact__info--sec
    background-color: #111724
    padding-top: 1rem
    position: relative
    // .icon-wrapper
    //   width: 80px
    //   bottom: 0
    //   position: absolute
    //   right: 0
    //   top: 0
    //   z-index: 5
    //   overflow: hidden
    //   .icon
    //     width: 60px
    //     right: 0
    //     top: 0
    //     bottom: 0
    //     position: absolute
    //     display: block
    //     color: #fff
    //     background-color: #d24e1a
    //     z-index: 5
    //     i
    //       position: absolute
    //       width: 30px
    //       height: 30px
    //       top: 50%
    //       left: 50%
    //       margin: -15px 0 0 -15px
    //   .shape
    //     width: 30px
    //     position: absolute
    //     content: ""
    //     left: 20px
    //     top: -20px
    //     bottom: 0
    //     background-color: #d24e1a
    //     transform-origin: bottom
    //     z-index: 1
    //     transition: all .3s ease
    //     transform: rotate(-13deg)

    h3
      color: #eee
      text-align: start
      font-size: 22px
      padding-bottom: 1rem
      padding-left: 2rem
      text-transform: capitalize
    .contact__info
      background-color: #191a1f
      padding: 30px
      .info
          display: flex
          gap: 1rem
          color: #eee
          font-size:14px 
          max-width: 70%
          i
            font-size: 18px
            color: #dd3333
  .map-holder
    width: 100%
    height:300px
    border-radius: 8px
    iframe
      width: 100%
      height: 100%



