.header-section
  position: absolute
  background-color: rgba(0,0,0,.3)
  border-bottom: none
  width: 100%
  z-index: 99
  .toppanel
    background-color: #16161b
    padding: 5px 50px
    .toppanel__left--panel
      display: flex
      justify-content: flex-start
      align-items: center
      gap: 1rem
      & a
        color:#eee
      .toppanel__info
        font-size: 13px
        position: relative
        &::after
          position: absolute
          content: ""
          background-color: hsla(0,0%,100%,.4)
          right: -10px
          width: 1px
          height: 20px
      .toppanel__social--list
        .social-icons
          display: flex
          gap: 1rem
          margin-bottom: 0
          padding-left: 0
          .icon
            transition: 0.3s ease
            font-size: 13px
            &:hover
              a
                color: #045cb4 
          

            
  .header
    display: flex
    justify-content: space-between
    align-items: center
    .header__logo
      max-width: 75px
      height: 50px
      img
        width: 100%
        height: 100%
        object-fit: contain
    .header__menu
      & ul
        margin-bottom: 0
        padding-left: 0
      .menu__list
        display: flex
        justify-content: center
        align-items: center   
        gap: 2rem
      
        .menu__item
          text-transform: uppercase
          font-size: 14px
          transition: 0.3s ease
          text-transform: uppercase
          font-weight: 500
          letter-spacing: 0.5px
          display: flex
          justify-content: center
          align-items: center
          padding: 1rem 0

          &:hover
            a
              color: #dd3333 
            .sub-menu
              display: block
           
          i
            color: #eee
            font-size: 24px

        
          a
            color:#eee
            // display: flex
          .sub-menu
            position: absolute
            margin: 0
            width: 260px
            background-color: #111
            top: 100%
            // left: -30px
            padding: 20px 0
            z-index: 55
            transition: all .3s ease
            display: none
            &::after
              content: ""
              position: absolute
              top: 100%
              left: 0
              border-right: 260px solid transparent
              border-top: 20px solid #111
            a
              color: #eee  
              
            .sub-menu__item
              font-size: 13px
              text-transform: capitalize
              padding: 0 30px
              margin: 5px 0 10px   
    .toll-free
      background-color:#dd3333
      padding: 0.6rem 1rem
      color: #fff
      font-size: 18px
      letter-spacing: .5px
      font-style: italic
      display: flex
      justify-content: center
      align-items: center
      position: relative
      &::before
        position: absolute
        content:""
        left: -23px
        top: -2px
        border-top: 49px solid transparent
        border-right: 23px solid #dd3333
      & p
        margin-bottom: 0

            
       
        
