*
  margin: 0
  padding: 0
  box-sizing: border-box
  list-style: none
  text-decoration: none !important
  outline: none
  border: none

.project
  .project__content
    display: flex
    .project__left--content
      max-width: 450px
      padding: 30px
      background-color: #ffffff

      .project__left__sticky--section
        position: sticky
        top: 10px
        h3
          font-size: 50px
          font-weight: 300
          line-height: 1
          letter-spacing: 0
          color: #14141c
          position: relative
          &::after
            content: ""
            position: absolute
            bottom: -10px
            left: 0
            width: 100px
            height: 3px
            background-color: #d24e1a
        p
          font-size: 14px
          color: #666
          margin: 25px 0
          line-height: 22px
        .button
          margin-top: 1rem
          .view-all-btn
            padding: 0.7rem 1rem
            text-transform: capitalize
            background-color: #d24e1a
            color: #ffffff
            transition: 0.3s ease
            font-size: 14px
            font-weight: 500
            &:hover
              background-color: #45a2df
    .project__right--content
    color: #eee
    background-color: #111724
    .card
       display: grid
       grid-template-columns: 1fr 1fr
       margin: 30px
       border: none
       img
         width: 100%
         height: 300px
         object-fit: cover

       .card__info 
         background-color: #181e2b
         padding: 0 30px
         display: flex
         justify-content: center
         flex-direction: column
       .card__title
         font-size: 24px
         font-weight: 700
         color: #eee
         transition: 0.3s ease
         &:hover
          color: #45a2df
       .card__description
          margin: 15px 0
          font-size: 14px
          line-height: 20px
          color: #999
          position: relative
          &::after
             content: ""
             position: absolute
             bottom: -30px
             left: 0
             width: 100%
             height: 1px
             background-color: #979797
       .card__button
           margin-top: 30px
           a
            font-size: 18px
            text-transform: capitalize
            color: #eee


          
