
.project 
  .project__content 
    display: flex 
    .project__left--content
      max-width: 450px 
      padding: 30px 

      .project__left__sticky--section
        position: sticky
        top: 10px 
        h3 
          font-size: 50px 
          font-weight: 300 
          line-height: 1 
          letter-spacing: 0 
          color: #14141c 
          position: relative 
          &::after 
            content: ""
            position: absolute 
            bottom: -10px 
            left: 0 
            width: 100px 
            height: 3px 
            background-color: #dd3333
        p
          font-size: 14px 
          color: #666
          margin: 25px 0 
          line-height: 22px 
     
    .project__right--content 
      color: #eee 
      background-color: #111724
      padding: 30px
